version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
    labels:
      - "dependencies"
      - "infrastructure"

  # Maintain npm dependencies
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
    labels:
      - "dependencies"
    groups:
      dev-dependencies:
        patterns:
          - "@types/*"
          - "@rollup/*"
          - "@typescript-eslint/*"
          - "eslint*"
          - "prettier"
          - "typescript"
          - "rollup"
        update-types:
          - "minor"
          - "patch"
      production-dependencies:
        patterns:
          - "lit"
          - "leaflet"
          - "home-assistant-js-websocket"
          - "custom-card-helpers"
        update-types:
          - "minor"
          - "patch"
